<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Ideum</a>
    
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/artists">Artists</a>
        </li>
        <% if (isAdmin) { %>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        <% } %>
        <% if (isLoggedIn) { %>
        <li class="nav-item">
          <a class="nav-link" href="/post/create">Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/auth/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Login</a>
        </li>
        <% } %>
      </ul>
    
      <form class="form-inline mx-auto my-2 my-lg-0" action="/inspiration/search" method="POST">
        <input class="form-control mr-sm-2" type="search" placeholder="Tall cactus" aria-label="Search" id="query" name="query">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarNav"
      ></div>
    </nav>

    <div class="container mt-5">
      <h1>Weclome again, master!</h1>
      <ul class="list-group">
        <% users.forEach(user => { %>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <%= user.username %>
          <div class="btn-group" role="group" aria-label="User actions">
            <form action="/admin/update/<%= user._id %>" method="GET">
              <button type="submit" class="btn btn-primary btn-sm">
                Update
              </button>
            </form>
            <form action="/admin/delete/<%= user._id %>" method="POST">
              <button type="submit" class="btn btn-danger btn-sm">
                Delete
              </button>
            </form>
          </div>
        </li>
        <% }); %>
      </ul>
    </div>

    <div class="container mt-5">
      <h1 class="mb-4">Create New Post</h1>
      <form action="/post/create" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title_en">Title (English):</label>
          <input
            type="text"
            class="form-control"
            id="title_en"
            name="title_en"
            required
          />
        </div>
        <div class="form-group">
          <label for="title_ru">Title (Russian):</label>
          <input
            type="text"
            class="form-control"
            id="title_ru"
            name="title_ru"
            required
          />
        </div>

        <div class="form-group">
          <label for="content_en">Content (English):</label>
          <textarea
            class="form-control"
            id="content_en"
            name="content_en"
            rows="5"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label for="content_ru">Content (Russian):</label>
          <textarea
            class="form-control"
            id="content_ru"
            name="content_ru"
            rows="5"
            required
          ></textarea>
        </div>

        <div class="form-group">
          <label for="image">Upload Image:</label>
          <input
            type="file"
            class="form-control-file"
            id="image"
            name="image"
            accept="image/*"
          />
        </div>
        <button type="submit" class="btn btn-primary">Create Post</button>
      </form>
    </div>

    <footer class="mt-5 text-center">
      <hr />
      <h2>Sarvarov Mustafa | Group: SE-2203</h2>
    </footer>

    <script type="text/javascript">
      var linguJSON = {
        languages: [
          {
            lang_name: "English",
            lang_code: "en",
            url_pattern: "?",
          },
          {
            lang_name: "Russian",
            lang_code: "ru",
            url_pattern: "?",
          },
        ],
        translated_segments: [
          {
            source: "Create Post",
            target: "Создать пост",
          },
          {
            source: "Artists",
            target: "Музыканты",
          },
          {
            source: "Admin",
            target: "Админка",
          }, 
          {
            source: "Logout",
            target: "Выйти",
          },
          {
            source: "Create",
            target: "Создать",
          },
          {
            source: "Register",
            target: "Зарегестрироваться",
          },
          {
            source: "Login",
            target: "Войти",
          },
          {
            source: "Sarvarov Mustafa | Group: SE-2203",
            target: "Сарваров Мустафа | Группа: КИ-2203",
          },
          {
            source: "Create New Post",
            target: "Создать новый пост",
          },
          {
            source: "Title (English):",
            target: "Заголовок (Английский):",
          },
          {
            source: "Content (English):",
            target: "Содержание (Английский)",
          },
          {
            source: "Content (Russian):",
            target: "Содержание (Русский):",
          },
          {
            source: "Upload Image:",
            target: "Загрузить изображение",
          },
          {
            source: "Create Post",
            target: "Создать пост",
          },
          {
            source: "Weclome again, master!",
            target: "Приветствую, мастер!",
          },
          {
            source: "Update",
            target: "Обновить",
          },
          {
            source: "Delete",
            target: "Удалить",
          },
          {
            source: "Search",
            target: "Искать",
          },
        ]
      };
    </script>
    <script src="/scripts/lingumania.js"></script>
    
  </body>
</html>
