<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Ideum</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/artists">Artists</a>
            </li>
            <% if (isAdmin) { %>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
            <% } %> <% if (isLoggedIn) { %>
            <li class="nav-item">
              <a class="nav-link" href="/auth/logout">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/post/create">Create</a>
            </li>
            <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/auth/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/login">Login</a>
            </li>
            <% } %>
          </ul>
        </div>
    </nav>
    

    <div class="container mt-5">
        <h1 class="mb-4">Create New Post</h1>
        <form action="/post/create" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title_en">Title (English):</label>
                <input type="text" class="form-control" id="title_en" name="title_en" required>
            </div>
            <div class="form-group">
                <label for="title_ru">Title (Russian):</label>
                <input type="text" class="form-control" id="title_ru" name="title_ru" required>
            </div>

            <div class="form-group">
                <label for="content_en">Content (English):</label>
                <textarea class="form-control" id="content_en" name="content_en" rows="5" required></textarea>
            </div>
            <div class="form-group">
                <label for="content_ru">Content (Russian):</label>
                <textarea class="form-control" id="content_ru" name="content_ru" rows="5" required></textarea>
            </div>

            <div class="form-group">
                <label for="image">Upload Image:</label>
                <input type="file" class="form-control-file" id="image" name="image" accept="image/*">
            </div>
            <button type="submit" class="btn btn-primary">Create Post</button>
        </form>
    </div>

    <footer class="mt-5 text-center">
      <hr />
      <h2>Sarvarov Mustafa | Group: SE-2203</h2>
    </footer>

    <script type="text/javascript">
      var linguJSON = {
        languages: [
          {
            lang_name: "English",
            lang_code: "en",
            url_pattern: "?",
          },
          {
            lang_name: "Russian",
            lang_code: "ru",
            url_pattern: "?",
          },
        ],
        translated_segments: [
          {
            source: "Create Post",
            target: "Создать пост",
          },
          {
            source: "Artists",
            target: "Музыканты",
          },
          {
            source: "Admin",
            target: "Админка",
          }, 
          {
            source: "Logout",
            target: "Выйти",
          },
          {
            source: "Create",
            target: "Создать",
          },
          {
            source: "Register",
            target: "Зарегестрироваться",
          },
          {
            source: "Login",
            target: "Войти",
          },
          {
            source: "Sarvarov Mustafa | Group: SE-2203",
            target: "Сарваров Мустафа | Группа: КИ-2203",
          },
          {
            source: "Create New Post",
            target: "Создать новый пост",
          },
          {
            source: "Title (English):",
            target: "Заголовок (Английский):",
          },
          {
            source: "Content (English):",
            target: "Содержание (Английский)",
          },
          {
            source: "Content (Russian):",
            target: "Содержание (Русский):",
          },
          {
            source: "Upload Image:",
            target: "Загрузить изображение",
          },
          {
            source: "Create Post",
            target: "Создать пост",
          },
        ]
      };
    </script>
    <script src="/scripts/lingumania.js"></script>

</body>

</html>
