<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Result</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      .image-frame {
        border: 2px solid #ddd;
        padding: 10px;
        border-radius: 10px;
        margin-top: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      .image-frame img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Ideum</a>
    
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/artists">Artists</a>
        </li>
        <% if (isAdmin) { %>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        <% } %>
        <% if (isLoggedIn) { %>
        <li class="nav-item">
          <a class="nav-link" href="/post/create">Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/auth/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Login</a>
        </li>
        <% } %>
      </ul>
    
      <form class="form-inline mx-auto my-2 my-lg-0" action="/inspiration/search" method="POST">
        <input class="form-control mr-sm-2" type="search" placeholder="Tall cactus" aria-label="Search" id="query" name="query">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarNav"
      ></div>
    </nav>

    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="image-frame">
            <img src="<%= image %>" alt="Searched Image" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>

    <footer class="mt-5 text-center">
      <hr />
      <h2>Sarvarov Mustafa | Group: SE-2203</h2>
    </footer>

  </body>
</html>
