<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Ideum</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarNav"
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/artists">Artists</a>
          </li>
          <% if (isAdmin) { %>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
          <% } %> <% if (isLoggedIn) { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/post/create">Create</a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Login</div>
            <div class="card-body">
              <form action="/auth/login" method="POST">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter email"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Password"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="mt-5 text-center">
      <hr />
      <h2>Sarvarov Mustafa | Group: SE-2203</h2>
    </footer>

    <script type="text/javascript">
      var linguJSON = {
        languages: [
          {
            lang_name: "English",
            lang_code: "en",
            url_pattern: "?",
          },
          {
            lang_name: "Russian",
            lang_code: "ru",
            url_pattern: "?",
          },
        ],
        translated_segments: [
          {
            source: "Create Post",
            target: "Создать пост",
          },
          {
            source: "Artists",
            target: "Музыканты",
          },
          {
            source: "Admin",
            target: "Админка",
          }, 
          {
            source: "Logout",
            target: "Выйти",
          },
          {
            source: "Create",
            target: "Создать",
          },
          {
            source: "Register",
            target: "Зарегестрироваться",
          },
          {
            source: "Login",
            target: "Войти",
          },
          {
            source: "Sarvarov Mustafa | Group: SE-2203",
            target: "Сарваров Мустафа | Группа: КИ-2203",
          },
          {
            source: "Login",
            target: "Вход",
          },
          {
            source: "Email",
            target: "Почта",
          },
          {
            source: "Password",
            target: "Пароль",
          },
          {
            source: "Login",
            target: "Войти",
          },
          {
            source: "Enter email",
            target: "Введите почту",
          },
          {
            source: "Password",
            target: "Введите пароль",
          },
        ]
      };
    </script>
    <script src="/scripts/lingumania.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
